
body{
  text-align: center;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-black"
}

p {
    color: #fff;
}

.gif{
  width: 500px;
  height: auto;
}
/* containers */
.container-fluid{
  padding: 7% 15%;
}
/* headings */
.top-heading{
  color: #20c997;
}

/* navbar */
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
}
/* home */
#home{
  text-align: center;
  background-color: #343a40;
}
/* console */
#console{
  padding: 7% 15%;
}
.console-p{

  color: #6610f2;
}
/* pricing */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
.card-title{
  font-size: 3rem;
}
.pricing-p{
  color: #8f8f8f;
}
/* stream */
#stream{
text-align: center;
background-color: #ef8172;
padding: 7% 15%;
}
.stream-img{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

/* download */
#download{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

/* footer */
#footer{
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
}
.BUTTON_OAR {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat',sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_OAR:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20 0;
}
